{% extends 'layout.html' %}

<!-- Фамилияимя в заголовке вкладки -->
{% block title %} {{ data.surname }} {{ data.name }} {% endblock %}

{% block content %}

<div class="main-photo"></div>

<!-- Список друзей -->
<div class="aside1">
  {% for friend in friends %}
    <div>
      <a href="/id{{ friend.id }}">ID{{ friend.id }}</a>
    </div>
  {% endfor %}
</div>

<!-- Личная галерея -->
<div class="aside2">
  {% for pic in pics %}
    <div>
      <img class="pic" src="../static/img/gallery-img{{ pic }}.jpg">
    </div>
  {% endfor %}
</div>

<!-- полезные ссылки -->
<div class="aside3">  <a href="/friends"><button class="btn-hvr"><span>Friends</span></button></a><br>
  <a href="/messages"><button class="btn-hvr"><span>Messages</span></button></a><br>
  <a href="/communities"><button class="btn-hvr"><span>Communities</span></button></a><br>
  <a href="/gallery"><button class="btn-hvr"><span>Gallery</span></button></a><br>
</div>

<!-- О себе -->
<h2>
  <table>
    <tr><td>ID</td><td>{{ data.id }}</td></tr>
    <tr><td>Surname</td><td>{{ data.surname }}</td></tr>
    <tr><td>Name</td><td>{{ data.name }}</td></tr>
    <tr><td>Age</td><td>{{ data.age }}</td></tr>
    <tr><td>Occupation</td><td>{{ data.occupation }}</td></tr>
    <tr><td>Worldview</td><td>{{ data.worldview }}</td></tr>
    <tr><td>Quote</td><td>{{ data.quote }}</td></tr>
  </table>
</h2>


{% endblock %}