{% extends 'layout.html' %}

<!-- Фамилияимя в заголовке вкладки -->
{% block title %} {{ data.surname }} {{ data.name }} {% endblock %}

{% block content %}
<div>
  <div class="avatar"></div>
  <div class="main-photo"></div>
</div>

<!-- Список друзей -->
<div class="aside1">
  {% for friend in friends %}
    <div>
      <a href="/id{{ friend.id }}">ID{{ friend.id }}</a>
    </div>
  {% endfor %}
</div>

<!-- Личная галерея -->
<div class="aside2">
  {% for pic in pics %}
    <div>
      <img class="pic" src="../static/img/gallery-img{{ pic }}.jpg">
    </div>
  {% endfor %}
</div>

<!-- полезные ссылки -->
<div class="aside3">  
  <a href="/friends"><button class="btn-hvr"><span>Friends</span></button></a><br>
  <a href="/messages"><button class="btn-hvr"><span>Messages</span></button></a><br>
  <a href="/communities"><button class="btn-hvr"><span>Communities</span></button></a><br>
  <a href="/gallery"><button class="btn-hvr"><span>Gallery</span></button></a><br>
  <a href="{% url 'settings' %}"><button class="btn-hvr"><span>Settings</span></button></a><br>
</div>

<!-- О себе -->
<h2>
  <table class="main-panel">
    <tr><td>ID</td><td>{{ data.id }}</td></tr>
    <tr><td>Surname</td><td>{{ data.surname }}</td></tr>
    <tr><td>Name</td><td>{{ data.name }}</td></tr>
    <tr><td>Age</td><td>{{ data.age }}</td></tr>
    <tr><td>Occupation</td><td>{{ data.occupation }}</td></tr>
    <tr><td>Worldview</td><td>{{ data.worldview }}</td></tr>
    <tr><td>Quote</td><td>{{ data.quote }}</td></tr>
  </table>
</h2>

<!-- Лента -->
<div class="newsline infinite-container">
  {% for number in numbers %}
    <div class="newsblock infinite-item">
      <h2>
        Title №{{ number }}<br>
        <br>
        Lorem ipsum dolor sit amet<br>
        April 23, 2017, 1:45 p.m.
      </h2>
    </div>
  {% endfor %}
</div>

{% if numbers.has_next %}
  <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
{% endif %}
{% endblock %}

{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $(".infinite-container")[0]
    });
  </script>
{% endblock %}