<!DOCTYPE html>
<html>
<head>
    
  <meta charset="utf-8" />
  <title>Hive</title>
    
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <link rel="icon" href="{% static 'hive-ico.ico' %}">
    
</head>
<body>
    
  <div class="hexagons">
    {% for _ in "x"|rjust:"50" %}
      <div class="hexagon">
        <div></div>
        <div></div>
      </div>
    {% endfor %}
  </div>
    
  <div class="main-page">
    <h1>Hive</h1>
    <a href="/#"><button class="btn-hvr"><span>LOG IN</span></button></a>
    <p></p>
    <a href="/main"><button class="btn-hvr"><span>A GUEST</span></button></a>
  </div>

</body>
</html>