<!DOCTYPE html>
<html>
<head>
    
  <meta charset="utf-8">
  <title>Hive</title>
    
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <link rel="icon" href="{% static 'hive-ico.ico' %}">
  <script src="{% static 'js/index-script.js' %}" async></script>
    
</head>
<body>
    
  <div class="hexagons">
    {% for _ in "x"|rjust:"50" %}
      <div class="hexagon">
        <div></div>
        <div></div>
      </div>
    {% endfor %}
  </div>
    
  <div class="main-panel">
    <h1>Hive</h1>
    <p><a href="/loginform"><button class="btn-hvr login"><span>LOG IN</span></button></a></p>
    <p><a href="/signup"><button class="btn-hvr signup"><span>SIGN UP</span></button></a></p>
    <a href="/main"><button class="btn-hvr"><span>A GUEST</span></button></a>
  </div>

<!--
  <div class="login-panel">
    <h1>Log in</h1>
    <form method="post">
      <p><input placeholder="Username" /></p>
      <p><input placeholder="Password" /></p>
      <p><button class="btn-hvr" type="submit"><span>Log in</span></button></p>
    </form>
    <a href="#"><button class="btn-hvr login-cancel"><span>Cancel</span></button></a>
  </div>
    
  <div class="signup-panel">
    <h1>Sign up</h1>
    <form method="post">
      <p><input placeholder="Username" /></p>
      <p><input placeholder="Password" /></p>
      <p><input placeholder="Confirm password" /></p>
      <p><button class="btn-hvr" type="submit" OnClick><span>Sign up</span></button></p>
    </form>
    <a href="#" OnClick="alert( 'Привет, Мир!' );"><button class="btn-hvr"><span>Cancel</span></button></a>
  </div>
-->

</body>
</html>