<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
    
    <!--{% load staticfiles %}-->
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    <div class="header">
        <h1>Hive</h1>
        <a href="/main"><button class="btn-hvr"><span>Main</span></button></a>
        <a href="/id37"><button class="btn-hvr"><span>some button</span></button></a>
    </div>


    {% block content %}
    {% endblock %}

</body>
</html>