<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    {% block title %}
    {% endblock %}
  </title>
  
  {% load staticfiles %}  
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="icon" href="{% static 'hive-ico.ico' %}">
  
</head>
<body>
  <div class="header">
    <h1>Hive</h1>
    <a href="/main"><button class="btn-hvr"><span>To Main</span></button></a>
    <a href="/id31"><button class="btn-hvr"><span>Some id</span></button></a>
    <a href="#"><button class="btn-hvr"><span>News</span></button></a>
    <a href="/musician"><button class="btn-hvr"><span>Musician</span></button></a>
    <a href="/"><button class="btn-hvr"><span>Log out</span></button></a>
  </div>

  {% block content %}
  {% endblock %}
    
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>
    
  {% block javascript %}
  {% endblock %}

</body>
</html>