{% extends 'layout.html' %}

{% block title %} Welcome to Hive {% endblock %}

{% block content %}

  <div class="temp">      
    <div class="main-panel">
      <h1>Welcome to Hive</h1>
    </div>
    <br>
    <div class="main-panel">
      <h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est.</p>
        <p>Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem.</p>
      </h2>
    </div>
    <br>
  </div>
  
<div class="main-gallery">
  {% for _ in range %}
    <div class="mg-image">
      <div class="descr">
          <h2>Lorem ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  {% endfor %}
</div>



{% endblock %}