@font-face {
  font-family: 'Deus Ex';
  src: url('deusex.otf');
}



/* basic */
body {
  padding-left: 25px;
  padding-right: 25px;
    
  height: 100vh;
  background: -webkit-linear-gradient(bottom, #271200 10%, #773b00, gold, #773b00, #271200);
  background: linear-gradient(to top, #271200 10%, #773b00, gold, #773b00, #271200);
}
h1, h2 {
  color: white;
  font-family: 'Deus ex'; 
}
.main-panel {
  width:auto;
  padding: 5px;
  margin: 5px;
  background-color: rgba(17,17,17,0.5);
}

/* for index */
.main-page {
  height: 180px;
  width: 240px;
  background-color: rgba(17,17,17,0.5);
  padding-left: 30px;
  margin-left: 30px;
    
  position: absolute;
  top: 50%;
    
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* for main */
.temp{
  text-align: center;
}

/* for layout */
.header * {
  display: inline-block;
}

/* for id */
.main-photo {
  height: 173.2px;
  background-image: url(img/gallery-img14.jpg);
  background-position: center;
}
.aside1, .aside2 {
  float: left;
}
.aside2 {
  margin: 0 20px 0 5px;
}
.aside3 {
  float: right;
  margin: 5px 0 0 20px;
}
.aside1 div {
  height: 100px;
  width: 100px;
  background-color: #555;
  margin-top: 5px;
  text-align: center;
}
.aside2 div {
  overflow: hidden;
  height: 205px;
  width: 160px;
  margin-top: 5px;
}
.pic {   
  height: 205px;
}
.aside3 * {
  margin-bottom: 5px;
}
.newsline {
  margin-left: 280px;
  width: 1000px;
  text-align: center;
}
.newsblock {
  padding: 20px;
  margin: 5px;
  background-color: rgba(17,17,17,0.5);
}
table {
  width: 500px;
}
td {
  padding: 0 10px;
}



/* Button hover */
.btn-hvr{
  border: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-size: 18px;
  background-color: #222;  
  font-family: 'Deus Ex';
}
.btn-hvr:after{
  content: '';
  position: absolute;
  height: 120%;
  width: 15px;
  left: -20px;
  bottom: 0;
  background: darkorange;
    
  -webkit-transition: .5s;
          transition: .5s;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
}
.btn-hvr span {
  position: relative;
  z-index: 1;
}
.btn-hvr:hover {
  cursor: pointer;
  color: #222;
}
.btn-hvr:hover:after {
  left: -20px;
  width: 140%;
}



/* for main */
/* gallery */
.main-gallery {
  height: 450px;
  width: 100%;
  background-color: #000;
  display: flex;
}
.mg-image {
  flex-grow: 1;
  opacity: .25;
  margin-right: 1px;
  transition: flex-grow .5s ease-in-out, 
              opacity .5s ease-in-out;
  background-position: center;
  background-size: cover;
}
.mg-image:hover{
  flex-grow: 15;
  opacity: 1;
}
.mg-image:nth-of-type(1) {
  background-image: url(img/gallery-img1.jpg);
}
.mg-image:nth-of-type(2) {
  background-image: url(img/gallery-img2.jpg);
}
.mg-image:nth-of-type(3) {
  background-image: url(img/gallery-img3.jpg);
}
.mg-image:nth-of-type(4) {
  background-image: url(img/gallery-img4.jpg);
}
.mg-image:nth-of-type(5) {
  background-image: url(img/gallery-img5.jpg);
}
.mg-image:nth-of-type(6) {
  background-image: url(img/gallery-img6.jpg);
}
.mg-image:nth-of-type(7) {
  background-image: url(img/gallery-img7.jpg);
}
.mg-image:nth-of-type(8) {
  background-image: url(img/gallery-img8.jpg);
}
.mg-image:nth-of-type(9) {
  background-image: url(img/gallery-img9.jpg);
}
.mg-image:nth-of-type(10) {
  background-image: url(img/gallery-img10.jpg);
}
.mg-image:nth-of-type(11) {
  background-image: url(img/gallery-img11.jpg);
}
.mg-image:last-of-type {
  margin-right: 0px;
}
.descr {
  width: 0px;
  opacity: 0;
  padding: 0 10px;
  position: relative;
  top: 60%;
  left: 0;
  background-color: rgba(17,17,17,0.7);
  transition: opacity .5s ease-in-out;
  transition: width .5s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}
.descr p {
  color: white;
  font-family: 'Deus Ex';
}
.mg-image:hover .descr{
  width:400px;
  opacity: 1;
  transition: opacity .5s ease-in-out .5s, width .5s ease-in-out;
  white-space: normal;
}



/* for gallery */
.clearfix:after {
	content: '';
	clear: both;
	display: block;
}
.scale-sepia div {
	position: relative;
	float: left;
	width: 320px;
	height: 180px;
	margin: 0 0 10px 10px;
}
.scale-sepia .glr-img {
	-webkit-filter: sepia(100%);
	        filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	        transition: .3s ease-in-out;
}
.glr-img:hover {
	-webkit-filter: sepia(0);
	        filter: sepia(0);
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 1;
}
.glr-img {
  height: 450px;
	width: 800px;
  position: absolute;
  top: -50%;
  left: -50%;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}



/* for musuician */
.keyboard {
  width: 1500px;
}
.color-row {
  width: 100%;
  display: flex;
  background-color: black; 
  height: 120px;
}
.color-key, .dark-key {
  opacity: 1;
  transition: opacity .3s ease-in-out; 
}
.color-key:hover , .dark-key:hover{
  opacity: .5;
  transition: opacity .3s ease-in-out; 
}
.color-key {
  flex-grow: 1;
}
.dark-key {
  position: relative;
  top: -120px;
  display: inline-block;
  background-color: #222;
  height: 75px;
  width: 1.5%;
  margin-right: 1%;
}
.dark-key:nth-of-type(5n-1) {
  margin-left: 3%;
}
.dark-key:nth-of-type(5n-3) {
  margin-left: 3.2%;
}
.dark-key:nth-of-type(2) {
  margin-left: 2.1%;
}



/* for gallery2 */ 
/* test */
.hexrow {
    margin: 100px 50px;
    
    /* test */
    width: 1600px;
}
.hexrow > div {
    width: 100px;
    height: 173.2px;
    margin: 0 25px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    
    /* test */
	-webkit-filter: sepia(100%);
	        filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	        transition: .3s ease-in-out;
}
/* test */
.hexrow > div:hover {

	-webkit-filter: sepia(0);
	        filter: sepia(0);
  -webkit-transform: scale(2);
          transform: scale(2);
  z-index: 1;
}
.hexrow > div:nth-child(odd) {
    top: 43.3px;
}
.hexrow > div:nth-child(even) {
    top: -44.8px;
}
.hexrow > div > div:first-of-type,
.hexrow > div > div:last-of-type {
    width: 100%;
    height: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: inherit;
}
.hexrow > div > div:first-of-type {
    z-index: -1;

    -webkit-transform:rotate(60deg);
    transform:rotate(60deg);
}
.hexrow > div > div:last-of-type {
    content: '';
    z-index: -2;

    -webkit-transform:rotate(-60deg);
    transform:rotate(-60deg);
}
.hexrow > div > div:first-of-type:before,
.hexrow > div > div:last-of-type:before {
    content: '';
    position: absolute;
    width: 200px;
    height: 100%;
    background-image: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.hexrow > div > div:first-of-type:before {
    -webkit-transform:rotate(-60deg) translate(-150px, 0);
    transform:rotate(-60deg) translate(-150px, 0);

    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.hexrow > div > div:last-of-type:before {    
    -webkit-transform:rotate(60deg) translate(100px, 86.6px);
    transform:rotate(60deg) translate(100px, 86.6px);

    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}